<header class="main-header">
        <nav class="main-header__nav">
            <ul class="main_header__item-list">
                <li class="main_header__item">
                    <a class="<%=path==='/shop'?'active':''%>" href="/shop">Shop</a>
                </li>
                <li class="main_header__item">
                    <a class="<%=path==='/product'?'active':''%>" href="/admin/add-product">Add product</a>
                </li>
            </ul>
        </nav>
</header>